* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #4e3c45,
    #513e4c,
    #514055,
    #4f445f,
    #494868,
    #49577c,
    #43678f,
    #3877a0,
    #2f97bd,
    #29b8d5,
    #3adae6,
    #5ffbf1
  );
}
header {
  background-color: rgba(255, 228, 196, 0.144);
  padding: 15px;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(10px);
  border-radius: 0 0 20px 30px;
}
nav {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
button {
  background-color: inherit;
  border: none;
  transition: 0.5s;
  font-size: 20px;
  opacity: 0.6;
  color: white;
}
button:hover,
button:active,
button:focus {
  transform: scale(1.2);
  opacity: 1;
}
#contnent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#contnent div {
  position: relative;
  width: 20%;
  background: rgba(39, 38, 38, 0.144);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.11);
  margin: 25px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
#contnent div:hover {
  transform: rotateY(180deg);
  background: rgba(255, 255, 255, 0.144);
}
#contnent div section {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px;
}

#contnent div section:last-child {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  transform: rotateY(180deg);
  position: absolute;
  top: 0%;
  right: 0%;
  color: black;
  font-weight: bolder;
  text-align: center;
  z-index: 10;
  height: 80%;
  width: 100%;
}
h2 {
  font-size: 2.2em;
  text-shadow: 1px 1px rgb(235, 232, 232);
}
p {
  font-size: 1.8em;
  text-shadow: 1px 1px rgb(235, 232, 232);
}
#contnent div:hover section:last-child {
  display: flex;
}
#contnent div:hover section img {
  filter: blur(5px);
}
#contnent div section img {
  transform: scale(1.1);
}
input {
  padding: 10px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;
  width: 10%;
  text-align: center;
  opacity: 0.6;
  transition: 0.5s;
}
input:focus,
input:hover,
input:active {
  outline: none;
  opacity: 1;
  width: 15%;
}
#contnent > section {
  position: relative;
  min-width: 20%;
  width: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px;
  background-color: rgba(10, 8, 8, 0.123);
  margin: 10px;
}
#contnent > section:hover {
  box-shadow: 1px 1px 10px 5px rgba(10, 8, 8, 0.253);
}
#contnent > section p {
  font-size: 2em;
}
#contnent > section h2 {
  font-size: 3em;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  padding: 20px;
  font-size: 2em;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgba(255, 255, 255, 0.164);
  color: white;
}
table tr {
  padding: 30px;
  border: 2px solid rgba(8, 8, 8, 0.664);
  text-align: left;
}
td {
  padding: 20px;
  font-size: 1.5em;
  color: white;
}
@media only screen and (max-width: 760px) {
  header nav {
    display: none;
    flex-flow: column;
    text-align: center;
  }
  #find-data {
    width: 100%;
    margin: 5px;
  }
  button {
    margin: 5px;
  }
  .open {
    display: flex;
  }
  .burger {
    display: block;
  }
  .burger span {
    border: 2px solid black;
    margin: 1px;
    pad: 1px 0px;
  }
  #contnent {
    flex-flow: column;
    align-items: center;
  }
  #contnent div {
    width: 80%;
  }
  h2 {
    font-size: 3em;
  }
  p {
    font-size: 2em;
  }
  #contnent > section {
    flex-flow: column;
    width: 80%;
    align-content: center;
    justify-content: center;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table tr {
    border: 2px solid rgba(8, 8, 8, 0.664);
    text-align: left;
    display: flex;
    flex-flow: column;
    padding: 10px;
  }
  td {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    font-size: 1.5em;
    color: white;
  }
  td p {
    font-size: 1em;
    text-shadow: none;
  }
}
